
<p>
   <div class="inline"> Search: <input ng-model="search"></div>
   <div   class="divRight inline text-info" > Click the cart icon to review your order and check out.</div>
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="index.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <img src="img/cart.png" height="20" width="25" alt="cart"/>
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search" >
        <td class="tdCenter"><img ng-src="img/products/{{product.sid}}.jpg" alt="{{product.name}}" /></td>
        <td>
            <a href="#/products/{{product.sid}}"><b>{{product.name}}</b></a><br />
            {{product.description}}
        </td>
        <td class="tdRight">
            {{product.price | currency}}
        </td>
        <td class="tdCenter">
            <a href="" ng-click="cart.addItem(product.sid, product.name, product.price, 1)">
                add to cart
            </a>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4">
            <a href="index.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <img src="img/cart.png" height="20" width="25" alt="cart"/>
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
</table>
